cache: bundler
sudo: false
rvm:
  - 2.5.0
  - 2.4.3
  - 2.3.6
notifications:
  recipients:
    - cowboyd@thefrontside.net
before_install:
  - gem update --system
script: bundle exec rake compile spec
